/node_modules
/public/hot
/public/assets/uploads
/public/storage
/public/images
/storage/*.key
/vendor
.env.backup
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.zip

stygen_new.zip
