.setting_management {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 30px;

    .navs,
    .setting_body {
        background-color: #283046;
        padding: 10px;
        height: calc(100vh - 200px);
        overflow-y: auto;
    }

    .navs {
        ul {
            list-style-type: none;
            padding-left: 0;
            margin-bottom: 0;

            li {
                a {
                    display: flex;
                    color: #D0D2D6 !important;
                    padding: 10px 15px;
                    align-items: center;


                    div {
                        &::first-letter {
                            text-transform: capitalize;
                        }
                    }

                    i {
                        display: inline-block;
                        margin-right: 10px;
                    }

                    &:hover,
                    &.active {
                        background-color: rgba(67, 89, 113, 0.3);

                        i {
                            &::before {
                                content: '\f192';
                            }
                        }
                    }
                }
            }
        }
    }

    .setting_body {
        padding: 20px;

        .s_setting {
            display: flex;
            gap: 30px;

            &>label {
                width: 200px;
                font-weight: 600;
            }

            .input_field {
                flex: 1;
                // border-bottom: 1px solid rgba(255, 255, 255, 0.068);
                padding: 25px 0px;

                textarea {
                    height: max-content;
                    min-height: max-content !important;
                }
            }
        }
    }
}
