.bread_cumb_section{
    background-color: var(--white);
    border-bottom: 1px solid #ddd;
    padding: 16px 0px;
}
.breadcrumb {
    margin-bottom: 0;
    li {
        padding: 0px 10px;
        position: relative;

        &::before {
            content: '/';
            right: -4px;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
        }

        &:last-child {
            &::before {
                display: none;
            }
        }
    }
}
