.product-detail-price-string,
.product-detail-title {
    font-size: 22px;
    color: #3749bb;
    padding: 5px 0 10px;
    margin: 0;
    line-height: 28px;
    font-weight: 500;
    font-family: "Trebuchet MS", sans-serif;
}

.product-detail-price-string {
    color: red;
}

.product-info-table tbody {
    display: flex;
    flex-wrap: wrap
}

.product-info-table tbody tr {
    margin: 0 7px 7px -2px;
    background: rgba(55, 73, 187, .05);
    border-radius: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px
}

.product-info-table tbody tr .product-info-label {
    color: #666
}

.product-info-table tbody tr .product-info-data {
    font-weight: bold;
    font-size: 14px
}

.product-info-table tbody tr .product-info-data ins {
    text-decoration: none
}

.product-info-table tbody tr .product-info-data del {
    color: #666
}

.product-info-table tbody tr .product-info-label:after {
    content: ":"
}

.pro-qty {
    input {
        border: 1px solid #dedede;
        border-radius: 0px;
        color: #000000;
        height: 40px;
        font-size: 16px;
        padding: 0 10px 0;
        text-align: center;
        width: 90px;
        display: inline-flex;
        flex: 1;
    }

    button {
        background-color: transparent;
        border: 1px solid #dedede;
        height: 40px;
    }
}

.product-detail-cart-btn {
    background-color: transparent;
    color: #000000;
    border: 1px solid #dedede;
    border-radius: 0px;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    min-width: 170px;
}

.share_btn {
    min-width: unset;
    min-height: unset;
    display: inline-block;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
}

.product-detail-nav-description {
    table {
        width: 100% !important;
    }
}

.product_page_short_detils {
    font-size: 18px;
    font-weight: 500;
    font-family: var(--inter_500);
    margin: 15px 0px 20px;
}

.product-details .navs ul {
    display: flex;
    gap: 10px;
    li {
        a{
            padding: 10px 20px;
            &:hover {
                background: var(--color_primary);
                color:  var(--white);;
                box-shadow: none
            }
        }

        &:first-child{
            a{
                background-color: var(--color_primary);
                color: var(--white);
                &:hover{
                    background-color: var(--white);
                    color: var(--color_primary);
                }
            }
        }
    }


}

.product_page_short_details{
    font-size: 18px;
    margin: 10px 0px 20px;
    font-family: var(--inter_600);
}
.related_product {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: flex-start;
    gap: 10px;
    padding: 10px 0px;
    border-bottom: 1px solid #dddddd;

    .product_name{
        a{
            line-height: 20px;
        }
    }
    .product_price{
        font-size: 17px;
    }
}
